<div class="flex flex-col w-full">
  <app-input-title
    *ngIf="title && title !== ''"
    [titleClass]="'mb-1' + titleClass"
    [title]="title"
    [isMandatory]="isMandatory"
    [icon]="titleIcon"
    [iconColor]="titleIconColor"
    (clickIcon)="titleIconOnClick()"
  ></app-input-title>

  <div class="relative w-full">
    <input
      [type]="inputType"
      [(ngModel)]="inputValue"
      (input)="onInputChange($event)"
      class="input-field {{ inputClass }} w-full pr-10"
      [disabled]="disabled"
    />

    <ng-container *ngIf="icon && icon !== ''">
      <mat-icon
        class="absolute right-3 top-1/3 transform -translate-y-1/2 cursor-pointer"
        (click)="iconOnClick()"
        [ngStyle]="{ color: iconColor }"
      >
        {{ icon }}
      </mat-icon>
    </ng-container>
  </div>
</div>
