<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div
    class="w-full px-[2rem] py-9 text-[.9rem] sm:max-w-md sm:rounded-card-radius sm:px-9 sm:shadow-[15px_15px_20px_#ffffff_inset,15px_15px_20px_#cbd5e1] flex-col flex"
  >
    <span class="text-header-normal font-bold mb-6 text-center">Login</span>
    <form (ngSubmit)="loginUser()">
      <app-custom-input
        [(ngModel)]="username"
        [title]="'Username'"
        name="username"
        type="text"
        [inputClass]="'mb-2'"
      ></app-custom-input>
      <app-custom-input
        [(ngModel)]="password"
        [title]="'Password'"
        [icon]="'lock'"
        name="password"
        [inputType]="'password'"
        [inputClass]="'mb-6'"
      ></app-custom-input>
      <app-custom-button
        buttonText="Click Me"
        iconColor="red"
        buttonClass="btn-primary"
        (buttonClick)="loginUser()"
      >
      </app-custom-button>
    </form>
  </div>
</div>
